@model Spendit.Models.Transaction

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h1>Details Transaction</h1>

            <div>
                <hr />
                <dl class="row">
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Category)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Category.Title)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Amount)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Amount)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Note)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Note)
                    </dd>
                    <dt class="col-sm-3">
                        @Html.DisplayNameFor(model => model.Date)
                    </dt>
                    <dd class="col-sm-9">
                        @Html.DisplayFor(model => model.Date)
                    </dd>
                </dl>
            </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model?.TransactionId">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>
